<div class="mt-4">
    <a href="/me/stored/courses">Danh sách khóa học</a>
    <h3>Khóa học đã xóa</h3>
    <table class="table mt-4">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Trình độ</th>
            <th scope="col" colspan="2">Thời gian xóa</th>
        </tr>
        </thead>
        <tbody>
        {{#each courses}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.deletedAt}}</td>
                <td>
                    <a href="" class="btn-restore btn btn-link " data-bs-whatever="{{this._id}}">Khôi phục</a>
                    <a href="" class="btn btn-link" data-bs-toggle="modal" data-bs-whatever="{{this._id}}"
                       data-bs-target="#delete-course-modal">Xóa vĩnh viễn</a>
                </td>
            </tr>

        {{else}}
            <tr>
                <td colspan="5" class="text-center  ">
                    <p>Thùng rác trống</p>
                    <a href="/me/stored/courses">Danh sách khóa học</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="delete-course-modal" tabindex="-1" aria-labelledby="delete-course-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Hành động này không thể khôi phục. Bạn vẫn muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary">Hủy</button>
                <button type="button" id="btn-delete-course" class="btn btn-danger" data-bs-dismiss="modal">Xóa vĩnh
                    viễn
                </button>
            </div>
        </div>
    </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-course-form" method="POST"></form>

{{!-- Restore hidden form --}}
<form name="restore-course-form" method="POST"></form>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let courseId;
        const deleteForm = document.forms['delete-course-form'];
        const restoreForm = document.forms['restore-course-form'];
        const btnDeleteCourse = document.getElementById('btn-delete-course');


        // When dialog confirm clicked
        const exampleModal = document.getElementById('delete-course-modal')
        if (exampleModal) {
            exampleModal.addEventListener('show.bs.modal', event => {
                const button = event.relatedTarget
                courseId = button.getAttribute('data-bs-whatever')
            })
        }

        // When delete course btn clicked
        btnDeleteCourse.onclick = function () {
            deleteForm.action = '/courses/' + courseId + '/force?_method=DELETE';
            deleteForm.submit();
        }

        // When clicked btn restore
        $(document).on('click', '.btn-restore', function (e) {
            e.preventDefault();

            const courseId = $(this).data('bs-whatever'); // Change 'data-id' to 'data-bs-whatever' to match the attribute name

            restoreForm.action = '/courses/' + courseId + '/restore?_method=PATCH';
            restoreForm.submit();
        });

    });
</script>